################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMT_Tests/obj/Release
/LMOperations/obj/Release
/CapitalOne/obj/Release
/CapitalOne/bin/Release
/CapitalOne/.vs/CapitalOne/v14
